[submodule "site/themes/hugo-base-theme"]
	path = site/themes/hugo-base-theme
	url = git@github.com:xguse/hugo-base-theme.git
[submodule "site/themes/landing-page-hugo"]
	path = site/themes/landing-page-hugo
	url = git@github.com:xguse/landing-page-hugo.git
[submodule "site/themes/purehugo"]
	path = site/themes/purehugo
	url = git@github.com:xguse/purehugo.git
[submodule "site/themes/academic"]
	path = site/themes/academic
	url = git@github.com:gusdunn/hugo-academic.git
