.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: left;
    color: #FFF5E2;
    background: url(../img/htop_034.png) no-repeat center center;
    background-size: cover;
}